.custom-work-inr-main .row {
  width: 98%;
  margin: 0 auto;
}
.work-inr-sec1 p span img {
  width: auto;
  margin-right: 10px;
  float: left;
  margin-top: 3px;
  height: 20px;
}
.wi-sec1-row1 p {
  font-weight: bold;
  font-family: "niveau_groteskregular";
  color: #5b6670;
  font-size: 18px;
}
.wi-sec1-row2 h3 {
  font-weight: bold;
  font-family: "niveau_groteskregular";
  color: #655dc6;
  font-size: 28px;
  margin-bottom: 15px;
}

.wi-sec1-row2 ul {
  padding-left: 0;
}
.wi-sec1-row2 ul li {
  list-style-type: none;
  color: #5b6670;
  font-family: "niveau_groteskregular";
  font-weight: 400;
  font-size: 22px;
}
.wi-sec1-row2 ul li span {
  font-weight: 700;
}
.wi-sec1-row2 .col-lg-6.col-md-6 h1 {
  font-size: 60px;
  font-weight: 400;
  color: #5b6670;
  margin-bottom: 35px;
}
.wi-sec1-row2 .col-lg-6.col-md-6 p {
  font-family: niveau_groteskmedium;
  font-weight: 400;
  font-size: 22px;
  color: #5b6670;
}
.work-inr-sec2 {
  background: #fcd77b;
  margin-top: 25px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.work-inr-sec2 p {
  margin: 0;
}
.work-inr-sec3 {
  padding: 0;
}
.work-inr-sec3 .row {
  width: 100%;
  margin: 0;
}
.work-inr-sec3 .col-lg-6.col-md-6.col-sm-12 {
  padding: 0;
}
.work-inr-sec3 .col-lg-6.col-md-6.col-sm-12 img {
  width: 100%;
}
.work-inr-sec3 .col-lg-6.col-md-6.col-sm-12 p {
  margin: 0px;
}
/*.work-inr-sec3 .col-lg-6.col-md-6.col-sm-12:nth-of-type(1) {border-right:0.5px solid #ffffff;}
.work-inr-sec3 .col-lg-6.col-md-6.col-sm-12:nth-of-type(2) {border-left:0.5px solid #ffffff;}*/
.work-inr-sec4 .row.work-inr-r1 {
  width: 43%;
  margin: 0 auto;
  max-width: 580px;
  margin-bottom: 70px;
}
.work-inr-sec4 .row.work-inr-r1 p {
  font-family: niveau_groteskmedium;
  font-weight: 400;
  font-size: 22px;
  color: #5b6670;
}
.work-inr-sec4 .row.work-inr-r2 ul {
  padding: 0;
}
.work-inr-sec4 .row.work-inr-r2 ul li {
  list-style-type: none;
  float: left;
  width: 33.33%;
}
.work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(1) span img {
  margin-right: 15px;
}
.work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(2) {
  text-align: center;
}
.work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(3) span img {
  margin-left: 15px;
}
.work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(3) {
  text-align: right;
}
.work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(3) a,
.work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(1) a {
  font-family: helvetica_neuebold;
  font-size: 70px;
  color: #3f3a60;
}
.work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(2) a {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: "niveau_groteskmedium";
  color: #5b6670;
}
.work-inr-sec4 .row.work-inr-r2 ul li a:hover {
  cursor: pointer;
}
.work-sec2 .row.serch-sec {
  margin: 0;
  width: 100%;
}
body .artic-sec2 .testimonail-sec .row {
  margin: 0;
  width: 100%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .wi-sec1-row2 .col-lg-6.col-md-6 h1 {
    font-size: 35px;
  }
  .work-inr-sec2 .col-lg-12.col-md-12.col-sm-12 img {
    width: 100%;
  }
  body .artic-sec2 h2.tabs-h.tabs-h-1 span {
    font-size: 35px !important;
  }
  .work-inr-sec4 .row.work-inr-r1 {
    width: 100%;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(3) a,
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(1) a {
    font-size: 50px;
  }
}

@media (min-width: 568px) and (max-width: 767px) {
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(3) a,
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(1) a {
    font-size: 30px;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(2) {
    margin-top: 8px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wi-sec1-row2 .col-lg-6.col-md-6 h1 {
    font-size: 35px;
    font-weight: 400;
    color: #5b6670;
    margin-bottom: 35px;
  }
  .work-inr-sec2 .col-lg-12.col-md-12.col-sm-12 p img {
    width: 100%;
    height: auto;
  }
  .work-inr-sec4 .row.work-inr-r1 {
    width: 95%;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(3) a,
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(1) a {
    font-size: 30px;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(2) {
    margin-top: 8px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .work-inr-sec4 .row.work-inr-r1 {
    width: 85%;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(3) a,
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(1) a {
    font-size: 30px;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(2) {
    margin-top: 8px;
  }
}

/* @media (min-width: 568px) and (max-width: 767px) {
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(3) a,
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(1) a {
    font-size: 30px;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(2) {
    margin-top: 8px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wi-sec1-row2 .col-lg-6.col-md-6 h1 {
    font-size: 35px;
    font-weight: 400;
    color: #5b6670;
    margin-bottom: 35px;
  }
  .work-inr-sec2 .col-lg-12.col-md-12.col-sm-12 p img {
    width: 100%;
    height: auto;
  }
  .work-inr-sec4 .row.work-inr-r1 {
    width: 95%;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(3) a,
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(1) a {
    font-size: 30px;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(2) {
    margin-top: 8px;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .work-inr-sec4 .row.work-inr-r1 {
    width: 85%;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(3) a,
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(1) a {
    font-size: 30px;
  }
  .work-inr-sec4 .row.work-inr-r2 ul li:nth-of-type(2) {
    margin-top: 8px;
  }
} */
