.container-fluid.custom-article-page .work-sec1#section-five {    width: 98%;    margin: 0 auto;    padding-left: 30px !important;    padding-right: 15px !important; padding-top: 115px !important;}
.worktop-button {float: left;width: 100%;}
/* .worktop-button button.work-custm-butt {font-family: sofia_prosemibold!important;background: url(file:///C:/Users/hp/Desktop/MUZaMIL/Homepage/Homepage/images/Bright_pallette_Gradient.png); width: 120px;height: 40px;border: none;color: #fff;font-size: 19px;background-size: cover;} */
.custom-work-page p.card-text-1 {margin-bottom: 5px;}
.custom-work-page .col-lg-5.col-md-5.mb-12.spcc {padding-left: 0;}
.custom-work-page .MD-gap {float: left;width: 100%;margin-top: 40px;}
.custom-work-page .MD-gap .col-lg-4.col-md-4.mb-12.p-0 .s-cl:hover {border: 2px solid #5b6670;background-color: #655dc6!important;box-shadow: inset 0 0 0 1000px #655dc6;}

